<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om Sidan</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

</head>

<body>
    <header>
        <a href="/"><img id="logo" src="/standardLogo.svg" alt="Logga"></a> 
        <a id="logo-text" href="/">
            <h3>Moment-1</h3>
        </a>
        <ul id="bigScreenList">
            <li><a class="menyLänkar" href="/">Startida</a></li>
            <li><a class="menyLänkar" href="/addCourse">Kurser</a></li>
            <li><a class="menyLänkar" href="/about">Om Sidan</a></li>
        </ul>
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul>
                <li><a href="/">Startida</a></li>
                <li><a href="/addCourse">Kurser</a></li>
                <li><a href="/about">Om Sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Om uppgiften</h1>
        <article class="aboutArticle">
            <p>I denna uppgift har jag skapat en databasanslutning till min relationsdatabas, i detta fall PostgreSQL.
                 Denna webbplats erbjuder funktionen att lägga till och ta bort kurser från webbplatsen och den kopplade databasen. 
                 Databasen körs på Render, vilket gör att databasen alltid är tillgänglig och redo att användas. 
                Varje kurs innehåller information om kurskod, kursnamn, progression och syllabus. Det finns även möjlighet att ta bort kurser.</p>
                <br>
                <p>Detta var en mycket rolig uppgift att utföra. Detta är min favoritdel av Webbutveckling, själva backend där det händer grejer på riktigt. 
                    Jag tycker att uppgiften gick bra att utföra, det var inga större svårigheter med varken Express, EJS eller PostgreSQL. 
                    Jag ser fram emot fler uppgifter liknande denna.</p>
        </article>
    </main>

    <footer>
        <p>@Melvin Bubini, 2024</p>
    </footer>
    <script type="module" src="/js/main.js"></script>
</body>

</html>