<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurser</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/pictures/favicon.ico" type="image/x-icon"> 

</head>

<body>
    <header>
        <a href="/"><img id="logo" src="/standardLogo.svg" alt="Logga"></a> 
        <a id="logo-text" href="/">
            <h3>Moment-1</h3>
        </a>
        <ul id="bigScreenList">
            <li><a class="menyLänkar" href="/">Startida</a></li>
            <li><a class="menyLänkar" href="/addCourse">Kurser</a></li>
            <li><a class="menyLänkar" href="/about">Om Sidan</a></li>
        </ul>
        <button class="menu-btn open" id="open-menu">
            <span class="menu-icon">
                <span class="bars"></span>
                <span class="bars"></span>
                <span class="bars"></span>
            </span>
            <span class="menu-text">Meny</span>
        </button>
        <nav id="nav-menu">
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>
            <ul>
                <li><a href="/">Startida</a></li>
                <li><a href="/addCourse">Kurser</a></li>
                <li><a href="/about">Om Sidan</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1>Lägg till kurser</h1>
        </div>

        <form method="post">
            <% if (error !== "") { %>
                <p class="error">
                    <%= error %>
                </p>
            <% } %>
             
            <label for="coursename">Kursnamn:</label>
            <br>
            <input type="text" id="coursename" name="coursename">
            <br>
            <label for="coursecode">Kurskod:</label>
            <br>
            <input type="text" id="coursecode" name="coursecode">
            <br>
            <label for="syllabus">Länk:</label>
            <br>
            <input type="text" id="syllabus" name="syllabus">
            <br>
            <label for="progression">Progression:</label>
            <br>
            <input type="text" id="progression" name="progression">
            <br>
            <input type="submit" value="Lägg till kurs">
        </form>

    </main>

    <footer>
        <p>@Melvin Bubini, 2024</p>
    </footer>
    <script type="module" src="/js/main.js"></script>
</body>

</html>